<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.khanapakao.admin.AdminLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/adminlogin</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AdminLogout</servlet-name>
		<servlet-class>com.khanapakao.admin.AdminLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogout</servlet-name>
		<url-pattern>/adminlogout</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>AddRecipe</servlet-name>
		<servlet-class>com.khanapakao.action.AddRecipe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddRecipe</servlet-name>
		<url-pattern>/addrecipe</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ObjectifyRegisterService</servlet-name>
		<servlet-class>com.khanapakao.services.ObjectifyRegisterService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ObjectifyRegisterService</servlet-name>
		<url-pattern>/objectifyregisterservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetRecipes</servlet-name>
		<servlet-class>com.khanapakao.services.GetRecipes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRecipes</servlet-name>
		<url-pattern>/getrecipes</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>GetRecipesByCategory</servlet-name>
		<servlet-class>com.khanapakao.services.GetRecipesByCategory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRecipesByCategory</servlet-name>
		<url-pattern>/getrecipesbycategory</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>GetRecipesByType</servlet-name>
		<servlet-class>com.khanapakao.services.GetRecipesByType</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRecipesByType</servlet-name>
		<url-pattern>/getrecipesbytype</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetRecipesByTopRating</servlet-name>
		<servlet-class>com.khanapakao.services.GetRecipesByTopRating</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRecipesByTopRating</servlet-name>
		<url-pattern>/getrecipesbytoprating</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LikeRecipe</servlet-name>
		<servlet-class>com.khanapakao.services.LikeRecipe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LikeRecipe</servlet-name>
		<url-pattern>/likerecipe</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UnlikeRecipe</servlet-name>
		<servlet-class>com.khanapakao.services.UnlikeRecipe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UnlikeRecipe</servlet-name>
		<url-pattern>/unlikerecipe</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SaveUser</servlet-name>
		<servlet-class>com.khanapakao.action.SaveUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveUser</servlet-name>
		<url-pattern>/saveuser</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>CommentOnRecipe</servlet-name>
		<servlet-class>com.khanapakao.action.CommentOnRecipe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentOnRecipe</servlet-name>
		<url-pattern>/commentonrecipe</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>GetRecipesByUser</servlet-name>
		<servlet-class>com.khanapakao.services.GetRecipesByUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRecipesByUser</servlet-name>
		<url-pattern>/getrecipesbyuser</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>GetRecipeComments</servlet-name>
		<servlet-class>com.khanapakao.services.GetRecipeComments</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRecipeComments</servlet-name>
		<url-pattern>/getrecipecomments</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>AddToUserWishlist</servlet-name>
		<servlet-class>com.khanapakao.action.AddToUserWishlist</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddToUserWishlist</servlet-name>
		<url-pattern>/addtouserwishlist</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>AddIngredients</servlet-name>
		<servlet-class>com.khanapakao.action.AddIngredients</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddIngredients</servlet-name>
		<url-pattern>/addingredients</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>GetIngredients</servlet-name>
		<servlet-class>com.khanapakao.services.GetIngredients</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetIngredients</servlet-name>
		<url-pattern>/getingredients</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>GetUserWishlist</servlet-name>
		<servlet-class>com.khanapakao.services.GetUserWishlist</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUserWishlist</servlet-name>
		<url-pattern>/getuserwishlist</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>RateRecipe</servlet-name>
		<servlet-class>com.khanapakao.action.RateRecipe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RateRecipe</servlet-name>
		<url-pattern>/raterecipe</url-pattern>
	</servlet-mapping>





	<servlet>
		<servlet-name>GetUserRating</servlet-name>
		<servlet-class>com.khanapakao.services.GetUserRating</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUserRating</servlet-name>
		<url-pattern>/getuserrating</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AddAlternateIngredient</servlet-name>
		<servlet-class>com.khanapakao.action.AddAlternateIngredient</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAlternateIngredient</servlet-name>
		<url-pattern>/addalternateingredient</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>AddCookingMethods</servlet-name>
		<servlet-class>com.khanapakao.action.AddCookingMethods</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCookingMethods</servlet-name>
		<url-pattern>/addcookingmethods</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>GetCookingMethods</servlet-name>
		<servlet-class>com.khanapakao.services.GetCookingMethods</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetCookingMethods</servlet-name>
		<url-pattern>/getcookingmethods</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>GetAlternateIngredient</servlet-name>
		<servlet-class>com.khanapakao.services.GetAlternateIngredient</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAlternateIngredient</servlet-name>
		<url-pattern>/getalternateingredient</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>GetAllAlternateIngredient</servlet-name>
		<servlet-class>com.khanapakao.services.GetAllAlternateIngredient</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllAlternateIngredient</servlet-name>
		<url-pattern>/getallalternateingredient</url-pattern>
	</servlet-mapping>





	<servlet>
		<servlet-name>GetAllCookingMethods</servlet-name>
		<servlet-class>com.khanapakao.services.GetAllCookingMethods</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllCookingMethods</servlet-name>
		<url-pattern>/getallcookingmethods</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>GetRecipeByName</servlet-name>
		<servlet-class>com.khanapakao.services.GetRecipeByName</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRecipeByName</servlet-name>
		<url-pattern>/getrecipebyname</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>SubmitFeedback</servlet-name>
		<servlet-class>com.khanapakao.action.SubmitFeedback</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubmitFeedback</servlet-name>
		<url-pattern>/submitfeedback</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
