<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.khanapakao.admin.AdminLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/adminlogin</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AdminLogout</servlet-name>
		<servlet-class>com.khanapakao.admin.AdminLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogout</servlet-name>
		<url-pattern>/adminlogout</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>AddRecipe</servlet-name>
		<servlet-class>com.khanapakao.action.AddRecipe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddRecipe</servlet-name>
		<url-pattern>/addrecipe</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ObjectifyRegisterService</servlet-name>
		<servlet-class>com.khanapakao.services.ObjectifyRegisterService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ObjectifyRegisterService</servlet-name>
		<url-pattern>/objectifyregisterservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetRecipes</servlet-name>
		<servlet-class>com.khanapakao.services.GetRecipes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRecipes</servlet-name>
		<url-pattern>/getrecipes</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>GetRecipesByCategory</servlet-name>
		<servlet-class>com.khanapakao.services.GetRecipesByCategory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRecipesByCategory</servlet-name>
		<url-pattern>/getrecipesbycategory</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>GetRecipesByType</servlet-name>
		<servlet-class>com.khanapakao.services.GetRecipesByType</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRecipesByType</servlet-name>
		<url-pattern>/getrecipesbytype</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetRecipesByTopRating</servlet-name>
		<servlet-class>com.khanapakao.services.GetRecipesByTopRating</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRecipesByTopRating</servlet-name>
		<url-pattern>/getrecipesbytoprating</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LikeRecipe</servlet-name>
		<servlet-class>com.khanapakao.services.LikeRecipe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LikeRecipe</servlet-name>
		<url-pattern>/likerecipe</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UnlikeRecipe</servlet-name>
		<servlet-class>com.khanapakao.services.UnlikeRecipe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UnlikeRecipe</servlet-name>
		<url-pattern>/unlikerecipe</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
